In [204]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [176]:
df = spark.read.csv('Datasets/iterat4.csv',header=True, inferSchema=True)

In [177]:
df.show(n=2)
df.columns
df.printSchema()

+---+-----------+--------------------+-------------+-------+--------------------------+--------+-------------+-------+--------------+--------------+--------------------+-------+-----+--------+------+-----+--------+-------+------------+----------+-------------+-----------+----------+--------+---------+----------+---------------+----------------+------------+---------+-------------+--------------------+
|_c0|School Year|       Location Name|Location Code|Borough|Geographical District Code|Register|Building Name|Schools|NYPD Site Code|NYPD Site Name| Schools in Building|Major N|Oth N|NoCrim N|Prop N|Vio N|ENGroupA| RangeA|AvgOfMajor N|AvgOfOth N|AvgOfNoCrim N|AvgOfProp N|AvgOfVio N|Postcode| Latitude| Longitude|Community Board|Council District|Census Tract|      BIN|          BBL|                 NTA|
+---+-----------+--------------------+-------------+-------+--------------------------+--------+-------------+-------+--------------+--------------+--------------------+-------+-----+--------+------+-----+--------+-------+------------+----------+-------------+-----------+----------+--------+---------+----------+---------------+----------------+------------+---------+-------------+--------------------+
|  0|  2016 - 17|P.S. M079 - Horan...|         M079|      M|                         5|   508.0|         null|      1|         657.0|       IS 070M|P.S. 076 A. Phili...|    0.0|  2.0|     2.0|   2.0|  0.0|      4C|501-750|        0.28|      1.11|         1.74|       0.75|      0.53| 10035.0|40.802419|-73.942634|           11.0|             9.0|       198.0|1053968.0|1.017470001E9|East Harlem North...|
|  1|  2016 - 17|P.S./I.S. 210 - T...|         M210|      M|                         6|   277.0|         null|      2|         701.0|    PS/IS 089M|P.S. 092 Mary McL...|    1.0|  3.0|     2.0|   1.0|  3.0|      3C|251-500|        0.27|       0.9|         1.67|       0.63|      0.44| 10031.0|40.829832|-73.944789|            9.0|             7.0|       237.0|1087824.0|1.020840129E9|Hamilton Heights ...|
+---+-----------+--------------------+-------------+-------+--------------------------+--------+-------------+-------+--------------+--------------+--------------------+-------+-----+--------+------+-----+--------+-------+------------+----------+-------------+-----------+----------+--------+---------+----------+---------------+----------------+------------+---------+-------------+--------------------+
only showing top 2 rows

['_c0',
 'School Year',
 'Location Name',
 'Location Code',
 'Borough',
 'Geographical District Code',
 'Register',
 'Building Name',
 'Schools',
 'NYPD Site Code',
 'NYPD Site Name',
 'Schools in Building',
 'Major N',
 'Oth N',
 'NoCrim N',
 'Prop N',
 'Vio N',
 'ENGroupA',
 'RangeA',
 'AvgOfMajor N',
 'AvgOfOth N',
 'AvgOfNoCrim N',
 'AvgOfProp N',
 'AvgOfVio N',
 'Postcode',
 'Latitude',
 'Longitude',
 'Community Board',
 'Council District',
 'Census Tract',
 'BIN',
 'BBL',
 'NTA']

In [178]:
df.describe().show()

+-------+-----------------+-----------+-------------------+-------------+-------+--------------------------+-----------------+--------------------+------------------+------------------+--------------------+--------------------+-------------------+------------------+-----------------+------------------+------------------+--------+--------+-------------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+-----------------+------------------+--------------------+--------------------+
|summary|              _c0|School Year|      Location Name|Location Code|Borough|Geographical District Code|         Register|       Building Name|           Schools|    NYPD Site Code|      NYPD Site Name| Schools in Building|            Major N|             Oth N|         NoCrim N|            Prop N|             Vio N|ENGroupA|  RangeA|       AvgOfMajor N|        AvgOfOth N|    AvgOfNoCrim N|       AvgOfProp N|        AvgOfVio N|          Postcode|           Latitude|          Longitude|   Community Board|  Council District|     Census Tract|               BIN|                 BBL|                 NTA|
+-------+-----------------+-----------+-------------------+-------------+-------+--------------------------+-----------------+--------------------+------------------+------------------+--------------------+--------------------+-------------------+------------------+-----------------+------------------+------------------+--------+--------+-------------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+-----------------+------------------+--------------------+--------------------+
|  count|             2046|       2046|               2046|         2046|   2046|                      2046|             2016|                1165|              2046|              1985|                1985|                2046|               1211|              1211|             1211|              1211|              1211|    2017|    2017|               1208|              1208|             1208|              1208|              1208|              2020|               2020|               2020|              2020|              2020|             2020|              2016|                2016|                2020|
|   mean|           1022.5|       null|               null|         null|   null|        15.463831867057673|690.7157738095239|                null|2.1295210166177907| 593.4765743073048|                null|                 1.0|0.41370767960363336|1.6498761354252685|3.570602807597027| 0.985962014863749| 0.861271676300578|    null|    null| 0.4405132450331066|1.8559105960264908|3.442003311258273| 1.133360927152326| 0.887425496688743|10788.123762376237|  40.73727616980197|  -73.9188424341584| 7.305940594059406|24.308415841584157|7065.425247524752| 2743071.177579365|2.6741923500709324E9|                null|
| stddev|590.7736453160381|       null|               null|         null|   null|         9.246920416671458|551.2523635386018|                null|1.4243219002729701|384.17133875461946|                null|                 NaN| 0.8708941223417485|2.7396005441796953|7.053321910057788|1.6950977821700781|1.7028642961947835|    null|    null|0.35410538382907314|1.7022954429044332|4.110659487038757|0.9259178722098851|0.7710343891433603| 530.3360308580343|0.08501718178849754|0.07819619588186524|4.5531873412231825| 14.51154272224838|21994.21583690115|1190585.1795396467| 1.149403217235937E9|                null|
|    min|                0|  2016 - 17|        1 PECK SLIP|         K001|      K|                         0|             62.0|         1 Peck Slip|                 1|               1.0| 51st AVENUE ACADEMY|  Archer Elementa...|                0.0|               0.0|              0.0|               0.0|               0.0|     10C|   1-250|               0.24|              0.71|             1.67|              0.51|              0.32|           10001.0|          40.508284|         -74.244118|               1.0|               1.0|              1.0|         1000003.0|       1.000020002E9|Allerton-Pelham G...|
|    max|             2045|  2016 - 17|√Ç¬†P.S. 93 - BRONX|         X972|      X|                        32|           5682.0|PRE-K CENTER @ 50...|                 8|            1463.0|Young Women Leade...|Young Women's Lea...|                8.0|              21.0|             88.0|              16.0|              12.0|      9C|751-1000|               3.14|              13.0|            34.86|              8.29|              5.29|           11694.0|          40.903553|         -73.707418|              18.0|              51.0|         157903.0|         5158758.0|       5.078980001E9|park-cemetery-etc...|
+-------+-----------------+-----------+-------------------+-------------+-------+--------------------------+-----------------+--------------------+------------------+------------------+--------------------+--------------------+-------------------+------------------+-----------------+------------------+------------------+--------+--------+-------------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+-----------------+------------------+--------------------+--------------------+

In [179]:
# We can also select various columns from a DataFrame. 
df.select('Register','Borough','Major N').show(n=20)

+--------+-------+-------+
|Register|Borough|Major N|
+--------+-------+-------+
|   508.0|      M|    0.0|
|   277.0|      M|    1.0|
|   248.0|      X|   null|
|   502.0|      X|    0.0|
|   604.0|      X|    1.0|
|   210.0|      X|   null|
|   296.0|      X|   null|
|   387.0|      X|   null|
|   288.0|      X|   null|
|  1463.0|      X|    2.0|
|   240.0|      X|   null|
|   389.0|      M|    0.0|
|   263.0|      M|    0.0|
|   500.0|      K|    0.0|
|   590.0|      K|    0.0|
|   479.0|      M|   null|
|   346.0|      K|   null|
|   212.0|      M|   null|
|   201.0|      K|    1.0|
|   127.0|      M|   null|
+--------+-------+-------+
only showing top 20 rows

In [180]:
df.createOrReplaceTempView('schoolreport')

# After that, we can use the SQL programming language for queries. 
results = spark.sql("SELECT * FROM schoolreport")
results.show()

+---+-----------+--------------------+-------------+-------+--------------------------+--------+--------------------+-------+--------------+--------------------+--------------------+-------+-----+--------+------+-----+--------+---------+------------+----------+-------------+-----------+----------+--------+---------+----------+---------------+----------------+------------+---------+-------------+--------------------+
|_c0|School Year|       Location Name|Location Code|Borough|Geographical District Code|Register|       Building Name|Schools|NYPD Site Code|      NYPD Site Name| Schools in Building|Major N|Oth N|NoCrim N|Prop N|Vio N|ENGroupA|   RangeA|AvgOfMajor N|AvgOfOth N|AvgOfNoCrim N|AvgOfProp N|AvgOfVio N|Postcode| Latitude| Longitude|Community Board|Council District|Census Tract|      BIN|          BBL|                 NTA|
+---+-----------+--------------------+-------------+-------+--------------------------+--------+--------------------+-------+--------------+--------------------+--------------------+-------+-----+--------+------+-----+--------+---------+------------+----------+-------------+-----------+----------+--------+---------+----------+---------------+----------------+------------+---------+-------------+--------------------+
|  0|  2016 - 17|P.S. M079 - Horan...|         M079|      M|                         5|   508.0|                null|      1|         657.0|             IS 070M|P.S. 076 A. Phili...|    0.0|  2.0|     2.0|   2.0|  0.0|      4C|  501-750|        0.28|      1.11|         1.74|       0.75|      0.53| 10035.0|40.802419|-73.942634|           11.0|             9.0|       198.0|1053968.0|1.017470001E9|East Harlem North...|
|  1|  2016 - 17|P.S./I.S. 210 - T...|         M210|      M|                         6|   277.0|                null|      2|         701.0|          PS/IS 089M|P.S. 092 Mary McL...|    1.0|  3.0|     2.0|   1.0|  3.0|      3C|  251-500|        0.27|       0.9|         1.67|       0.63|      0.44| 10031.0|40.829832|-73.944789|            9.0|             7.0|       237.0|1087824.0|1.020840129E9|Hamilton Heights ...|
|  2|  2016 - 17|888 REV J A POLIT...|         X060|      X|                         8|   248.0|2111 CROTONA AVEN...|      2|         370.0|             PS 047X|P.S. 057 Crescent...|   null| null|    null|  null| null|      2C|    1-250|        null|      null|         null|       null|      null| 10459.0|40.820403|-73.898912|            2.0|            17.0|        87.0|2005348.0|2.026960085E9|Longwood         ...|
|  3|  2016 - 17|P.S. 333 - The Mu...|         X333|      X|                         8|   502.0|                null|      1|         372.0|             PS 050X|            P.S. 058|    0.0|  2.0|     3.0|   2.0|  0.0|      4C|  501-750|        0.28|      1.11|         1.74|       0.75|      0.53| 10459.0|40.820403|-73.898912|            2.0|            17.0|        87.0|2005348.0|2.026960085E9|Longwood         ...|
|  4|  2016 - 17|The Academy of th...|         X335|      X|                         8|   604.0|                null|      1|         372.0|             PS 050X|P.S. 059 The Comm...|    1.0|  0.0|     0.0|   1.0|  0.0|      4C|  501-750|        0.28|      1.11|         1.74|       0.75|      0.53| 10459.0|40.820403|-73.898912|            2.0|            17.0|        87.0|2005348.0|2.026960085E9|Longwood         ...|
|  5|  2016 - 17|1180 REV. J.A. PO...|         X099|      X|                        12|   210.0|1619 BOSTON ROAD ...|      3|         428.0|             CS 090X|J.H.S. 098 Herman...|   null| null|    null|  null| null|      2C|    1-250|        null|      null|         null|       null|      null| 10459.0|40.827315|-73.897612|            2.0|            17.0|       131.0|2005276.0|2.026920014E9|Longwood         ...|
|  6|  2016 - 17|P.S. 160 Walt Disney|         X160|      X|                        11|   296.0|800 HOME STREET C...|      3|         404.0|             PS 152X|Bronx Latin|Bronx...|   null| null|    null|  null| null|      3C|  251-500|        null|      null|         null|       null|      null| 10475.0|40.864676|-73.824303|           10.0|            12.0|       302.0|2072352.0|  2.0513502E9|Co-op City       ...|
|  7|  2016 - 17|ROADS Charter Sch...|         X200|      X|                        12|   387.0|1110 BOSTON ROAD ...|      4|         524.0|          PS/MS 306X|Morris Academy fo...|   null| null|    null|  null| null|      3C|  251-500|        null|      null|         null|       null|      null| 10459.0|40.823532|-73.898872|            2.0|            17.0|     12901.0|2005366.0|2.026980012E9|Longwood         ...|
|  8|  2016 - 17|Arturo A. Schombu...|         X446|      X|                        12|   288.0|1110 BOSTON ROAD ...|      4|         524.0|          PS/MS 306X|Morris Academy fo...|   null| null|    null|  null| null|      3C|  251-500|        null|      null|         null|       null|      null| 10459.0|40.823532|-73.898872|            2.0|            17.0|     12901.0|2005366.0|2.026980012E9|Longwood         ...|
|  9|  2016 - 17|Bronx Regional Hi...|         X480|      X|                        12|  1463.0|1110 BOSTON ROAD ...|      4|         524.0|          PS/MS 306X|Morris Academy fo...|    2.0|  4.0|    30.0|   1.0|  5.0|      7C|1251-1500|        0.64|      3.02|         5.77|       1.72|      1.54| 10459.0|40.823532|-73.898872|            2.0|            17.0|     12901.0|2005366.0|2.026980012E9|Longwood         ...|
| 10|  2016 - 17|1010 REV. J. A. P...|         X401|      X|                        12|   240.0|1010 REV. J. A. P...|      3|        1382.0|Academy for Schol...|Arturo A. Schombu...|   null| null|    null|  null| null|      2C|    1-250|        null|      null|         null|       null|      null| 10459.0|40.823532|-73.898872|            2.0|            17.0|     12901.0|2005366.0|2.026980012E9|Longwood         ...|
| 11|  2016 - 17|Thurgood Marshall...|         M318|      M|                         5|   389.0|                null|      1|          null|                null| P.S. 051 Elias Howe|    0.0|  1.0|     0.0|   1.0|  0.0|      3C|  251-500|        0.27|       0.9|         1.67|       0.63|      0.44| 10039.0|40.826126|-73.937982|           10.0|             9.0|       236.0|1060596.0|1.020360047E9|Central Harlem No...|
| 12|  2016 - 17|P.S. 083 Luis Mun...|         M083|      M|                         4|   263.0|                null|      1|         585.0|             PS 072M|P.S. M079 - Horan...|    0.0|  1.0|     0.0|   1.0|  0.0|      3C|  251-500|        0.27|       0.9|         1.67|       0.63|      0.44| 10029.0|40.793194|-73.942548|           11.0|             8.0|       180.0|1052436.0|1.016590012E9|East Harlem North...|
| 13|  2016 - 17|Dr. Susan S. McKi...|         K265|      K|                        13|   500.0|                null|      1|        1031.0|             PS 262K|P.S. 264 BAY RIDG...|    0.0|  0.0|     1.0|   0.0|  0.0|      3C|  251-500|        0.27|       0.9|         1.67|       0.63|      0.44| 11205.0|40.696324| -73.97578|            2.0|            35.0|       211.0|3057942.0|3.020280001E9|Fort Greene      ...|
| 14|  2016 - 17|   P.S. 048 Mapleton|         K048|      K|                        20|   590.0|                null|      1|          70.0|             PS 046K|   P.S. 048 Mapleton|    0.0|  0.0|     0.0|   0.0|  0.0|      4C|  501-750|        0.28|      1.11|         1.74|       0.75|      0.53| 11204.0|40.621871|-73.987396|           12.0|            44.0|       244.0|3132140.0|3.055190001E9|Borough Park     ...|
| 15|  2016 - 17|P.S. 208 Alain L....|         M208|      M|                         3|   479.0|508 EAST 120 STRE...|      2|         632.0|             PS 198M|River East Elemen...|   null| null|    null|  null| null|      3C|  251-500|        null|      null|         null|       null|      null| 10026.0|40.797874|-73.949699|           10.0|             9.0|       186.0|1051410.0|1.015950015E9|Central Harlem So...|
| 16|  2016 - 17|SUCCESS ACADEMY C...|         K781|      K|                        22|   346.0|1420 East 68 Stre...|      2|          78.0|             PS 075K|J.H.S. 078 Roy H....|   null| null|    null|  null| null|      3C|  251-500|        null|      null|         null|       null|      null| 11234.0|40.621224| -73.91287|           18.0|            46.0|     69602.0|3236496.0|3.083880002E9|Georgetown-Marine...|
| 17|  2016 - 17|The Urban Assembl...|         M135|      M|                         2|   212.0|198 FORSYTH STREE...|      2|         534.0|       CHOIR ACADEMY|Forsyth Satellite...|   null| null|    null|  null| null|      2C|    1-250|        null|      null|         null|       null|      null| 10038.0|40.711442|-74.000851|            1.0|             1.0|        29.0|1001388.0|  1.0011301E9|Chinatown        ...|
| 18|  2016 - 17|P.S. 372 -The Chi...|         K372|      K|                        15|   201.0|                null|      1|        1043.0|METROPOLITAN CORP...|South Brooklyn Co...|    1.0|  2.0|     1.0|   2.0|  0.0|      2C|    1-250|        0.24|      0.71|         1.71|       0.51|      0.32| 11215.0|40.676668|-73.985258|            6.0|            39.0|       119.0|3007707.0|3.004550001E9|Park Slope-Gowanu...|
| 19|  2016 - 17|185 1 AVENUE CONS...|         M019|      M|                         1|   127.0|185 1 AVENUE CONS...|      2|         549.0|            JHS 013M|P.S. 019 Asher Le...|   null| null|    null|  null| null|      2C|    1-250|        null|      null|         null|       null|      null| 10003.0|40.729636|-73.983818|            3.0|             2.0|        40.0|1006478.0|1.004530034E9|East Village     ...|
+---+-----------+--------------------+-------------+-------+--------------------------+--------+--------------------+-------+--------------+--------------------+--------------------+-------+-----+--------+------+-----+--------+---------+------------+----------+-------------+-----------+----------+--------+---------+----------+---------------+----------------+------------+---------+-------------+--------------------+
only showing top 20 rows

In [181]:
results = spark.sql("SELECT Register FROM schoolreport WHERE Register >= 1")
results.show()

+--------+
|Register|
+--------+
|   508.0|
|   277.0|
|   248.0|
|   502.0|
|   604.0|
|   210.0|
|   296.0|
|   387.0|
|   288.0|
|  1463.0|
|   240.0|
|   389.0|
|   263.0|
|   500.0|
|   590.0|
|   479.0|
|   346.0|
|   212.0|
|   201.0|
|   127.0|
+--------+
only showing top 20 rows

In [182]:
df.head(1)

[Row(_c0=0, School Year='2016 - 17', Location Name='P.S. M079 - Horan School', Location Code='M079', Borough='M', Geographical District Code=5, Register=508.0, Building Name=None, Schools=1, NYPD Site Code=657.0, NYPD Site Name='IS 070M', Schools in Building='P.S. 076 A. Philip Randolph', Major N=0.0, Oth N=2.0, NoCrim N=2.0, Prop N=2.0, Vio N=0.0, ENGroupA='4C', RangeA='501-750', AvgOfMajor N=0.28, AvgOfOth N=1.11, AvgOfNoCrim N=1.74, AvgOfProp N=0.75, AvgOfVio N=0.53, Postcode=10035.0, Latitude=40.802419, Longitude=-73.942634, Community Board=11.0, Council District=9.0, Census Tract=198.0, BIN=1053968.0, BBL=1017470001.0, NTA='East Harlem North                                                          ')]

In [183]:
df1=df['Borough','Major N','Vio N','Prop N','Oth N','NoCrim N']

In [184]:
df1.show()

+-------+-------+-----+------+-----+--------+
|Borough|Major N|Vio N|Prop N|Oth N|NoCrim N|
+-------+-------+-----+------+-----+--------+
|      M|    0.0|  0.0|   2.0|  2.0|     2.0|
|      M|    1.0|  3.0|   1.0|  3.0|     2.0|
|      X|   null| null|  null| null|    null|
|      X|    0.0|  0.0|   2.0|  2.0|     3.0|
|      X|    1.0|  0.0|   1.0|  0.0|     0.0|
|      X|   null| null|  null| null|    null|
|      X|   null| null|  null| null|    null|
|      X|   null| null|  null| null|    null|
|      X|   null| null|  null| null|    null|
|      X|    2.0|  5.0|   1.0|  4.0|    30.0|
|      X|   null| null|  null| null|    null|
|      M|    0.0|  0.0|   1.0|  1.0|     0.0|
|      M|    0.0|  0.0|   1.0|  1.0|     0.0|
|      K|    0.0|  0.0|   0.0|  0.0|     1.0|
|      K|    0.0|  0.0|   0.0|  0.0|     0.0|
|      M|   null| null|  null| null|    null|
|      K|   null| null|  null| null|    null|
|      M|   null| null|  null| null|    null|
|      K|    1.0|  0.0|   2.0|  2.0|     1.0|
|      M|   null| null|  null| null|    null|
+-------+-------+-----+------+-----+--------+
only showing top 20 rows

In [185]:
df1.groupBy('Borough').mean().show(n=20)

+-------+-------------------+------------------+------------------+------------------+------------------+
|Borough|       avg(Major N)|        avg(Vio N)|       avg(Prop N)|        avg(Oth N)|     avg(NoCrim N)|
+-------+-------------------+------------------+------------------+------------------+------------------+
|      K|  0.387434554973822|0.7774869109947644|0.9764397905759162|1.5602094240837696|3.4842931937172774|
|      Q| 0.2786885245901639|0.6262295081967213|0.6983606557377049|1.2622950819672132|2.2426229508196722|
|      M| 0.4855769230769231|0.8317307692307693|              1.25|1.8221153846153846| 3.519230769230769|
|      O|                0.0|               0.0|               0.0|               0.0|               0.0|
|      X| 0.6337448559670782|1.3580246913580247| 1.176954732510288| 2.123456790123457| 5.320987654320987|
|      R|0.18055555555555555|0.7222222222222222|0.8611111111111112|1.6944444444444444|3.9444444444444446|
+-------+-------------------+------------------+------------------+------------------+------------------+

In [186]:
df2=df['ENGroupA','Major N','Vio N','Prop N','Oth N','NoCrim N']
df3=df2.groupBy('ENGroupA').mean()

In [187]:
df3.orderBy(df['ENGroupA'].desc()).show()

+--------+-------------------+-------------------+------------------+------------------+------------------+
|ENGroupA|       avg(Major N)|         avg(Vio N)|       avg(Prop N)|        avg(Oth N)|     avg(NoCrim N)|
+--------+-------------------+-------------------+------------------+------------------+------------------+
|      9C| 1.1612903225806452| 2.4838709677419355|2.5806451612903225| 4.419354838709677| 8.064516129032258|
|      8C| 0.8666666666666667| 1.7555555555555555|               1.8|3.1555555555555554|6.4222222222222225|
|      7C| 0.5324675324675324| 1.4155844155844155|1.4805194805194806| 2.688311688311688| 5.909090909090909|
|      6C|0.45161290322580644| 1.1451612903225807|1.1209677419354838|2.0161290322580645| 4.129032258064516|
|      5C| 0.3444976076555024| 0.6172248803827751|0.8277511961722488| 1.215311004784689| 2.708133971291866|
|      4C| 0.2415902140672783|0.45565749235474007|0.5504587155963303|0.8807339449541285| 1.761467889908257|
|      3C| 0.2235294117647059| 0.4235294117647059|0.5137254901960784|0.8196078431372549|1.8196078431372549|
|      2C|0.23170731707317074| 0.3048780487804878|0.5121951219512195|0.6951219512195121|1.2195121951219512|
|     13C| 2.3333333333333335| 3.6666666666666665|               7.0|               9.5|              11.5|
|     12C| 1.8571428571428572|  3.857142857142857| 5.357142857142857|               9.5|23.571428571428573|
|     11C| 1.7777777777777777| 3.6666666666666665|               5.0| 7.888888888888889|22.666666666666668|
|     10C| 1.5862068965517242|                4.0|3.1724137931034484| 6.655172413793103|17.517241379310345|
|    null|                0.0|                0.0|               0.0|               0.0|0.3333333333333333|
+--------+-------------------+-------------------+------------------+------------------+------------------+

In [188]:
from pyspark.sql.functions import lit
from pyspark.sql.functions import col
rows = df.count()
summary = df.describe().filter(col("summary") == "count")
summary.select(*((lit(rows)-col(c)).alias(c) for c in df.columns)).show()

+---+-----------+-------------+-------------+-------+--------------------------+--------+-------------+-------+--------------+--------------+-------------------+-------+-----+--------+------+-----+--------+------+------------+----------+-------------+-----------+----------+--------+--------+---------+---------------+----------------+------------+----+----+----+
|_c0|School Year|Location Name|Location Code|Borough|Geographical District Code|Register|Building Name|Schools|NYPD Site Code|NYPD Site Name|Schools in Building|Major N|Oth N|NoCrim N|Prop N|Vio N|ENGroupA|RangeA|AvgOfMajor N|AvgOfOth N|AvgOfNoCrim N|AvgOfProp N|AvgOfVio N|Postcode|Latitude|Longitude|Community Board|Council District|Census Tract| BIN| BBL| NTA|
+---+-----------+-------------+-------------+-------+--------------------------+--------+-------------+-------+--------------+--------------+-------------------+-------+-----+--------+------+-----+--------+------+------------+----------+-------------+-----------+----------+--------+--------+---------+---------------+----------------+------------+----+----+----+
|0.0|        0.0|          0.0|          0.0|    0.0|                       0.0|    30.0|        881.0|    0.0|          61.0|          61.0|                0.0|  835.0|835.0|   835.0| 835.0|835.0|    29.0|  29.0|       838.0|     838.0|        838.0|      838.0|     838.0|    26.0|    26.0|     26.0|           26.0|            26.0|        26.0|30.0|30.0|26.0|
+---+-----------+-------------+-------------+-------+--------------------------+--------+-------------+-------+--------------+--------------+-------------------+-------+-----+--------+------+-----+--------+------+------------+----------+-------------+-----------+----------+--------+--------+---------+---------------+----------------+------------+----+----+----+

In [189]:
df4=df['Borough','Geographical District Code','Register','Schools', 'Major N','Oth N','Prop N','Vio N','ENGroupA','RangeA','AvgOfMajor N','AvgOfOth N','AvgOfProp N','AvgOfVio N']
df4.show(n=2)

+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+-------+------------+----------+-----------+----------+
|Borough|Geographical District Code|Register|Schools|Major N|Oth N|Prop N|Vio N|ENGroupA| RangeA|AvgOfMajor N|AvgOfOth N|AvgOfProp N|AvgOfVio N|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+-------+------------+----------+-----------+----------+
|      M|                         5|   508.0|      1|    0.0|  2.0|   2.0|  0.0|      4C|501-750|        0.28|      1.11|       0.75|      0.53|
|      M|                         6|   277.0|      2|    1.0|  3.0|   1.0|  3.0|      3C|251-500|        0.27|       0.9|       0.63|      0.44|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+-------+------------+----------+-----------+----------+
only showing top 2 rows

In [190]:
rows = df4.count()
summary = df4.describe().filter(col("summary") == "count")
summary.select(*((lit(rows)-col(c)).alias(c) for c in df4.columns)).show()

+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+
|Borough|Geographical District Code|Register|Schools|Major N|Oth N|Prop N|Vio N|ENGroupA|RangeA|AvgOfMajor N|AvgOfOth N|AvgOfProp N|AvgOfVio N|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+
|    0.0|                       0.0|    30.0|    0.0|  835.0|835.0| 835.0|835.0|    29.0|  29.0|       838.0|     838.0|      838.0|     838.0|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+

In [191]:
df4=df4.na.fill('3C', subset=['ENGroupA'])
df4=df4.na.fill('251-500', subset=['RangeA'])

In [192]:
rows = df4.count()
summary = df4.describe().filter(col("summary") == "count")
summary.select(*((lit(rows)-col(c)).alias(c) for c in df4.columns)).show()

+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+
|Borough|Geographical District Code|Register|Schools|Major N|Oth N|Prop N|Vio N|ENGroupA|RangeA|AvgOfMajor N|AvgOfOth N|AvgOfProp N|AvgOfVio N|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+
|    0.0|                       0.0|    30.0|    0.0|  835.0|835.0| 835.0|835.0|     0.0|   0.0|       838.0|     838.0|      838.0|     838.0|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+

In [193]:
from pyspark.sql.functions import mean

# Let's collect the average. You'll notice that the collection returns the average in an interesting format.
mean_Register = df4.select(mean(df4['Register'])).collect()
mean_Register

[Row(avg(Register)=690.7157738095239)]

In [194]:
mean_Register[0]

Row(avg(Register)=690.7157738095239)

In [195]:
mean_Register[0][0]
mean_Register_val = mean_Register[0][0]

In [196]:
df4=df4.na.fill(mean_Register_val, subset=['Register'])

In [197]:
rows = df4.count()
summary = df4.describe().filter(col("summary") == "count")
summary.select(*((lit(rows)-col(c)).alias(c) for c in df4.columns)).show()

+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+
|Borough|Geographical District Code|Register|Schools|Major N|Oth N|Prop N|Vio N|ENGroupA|RangeA|AvgOfMajor N|AvgOfOth N|AvgOfProp N|AvgOfVio N|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+
|    0.0|                       0.0|     0.0|    0.0|  835.0|835.0| 835.0|835.0|     0.0|   0.0|       838.0|     838.0|      838.0|     838.0|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+

In [198]:
#df4.na.fill(0).show()
df4 = df4.fillna(0)

In [211]:
rows = df4.count()
summary = df4.describe().filter(col("summary") == "count")
summary.select(*((lit(rows)-col(c)).alias(c) for c in df4.columns)).show()

+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+
|Borough|Geographical District Code|Register|Schools|Major N|Oth N|Prop N|Vio N|ENGroupA|RangeA|AvgOfMajor N|AvgOfOth N|AvgOfProp N|AvgOfVio N|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+
|    0.0|                       0.0|     0.0|    0.0|    0.0|  0.0|   0.0|  0.0|     0.0|   0.0|         0.0|       0.0|        0.0|       0.0|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+------+------------+----------+-----------+----------+

In [217]:
df5=df4.withColumn("schoolincidents",df4['Major N'] + df4['Oth N']+ df4['Prop N'] + df4['Vio N'])
df5.show(n=2)

+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+-------+------------+----------+-----------+----------+---------------+
|Borough|Geographical District Code|Register|Schools|Major N|Oth N|Prop N|Vio N|ENGroupA| RangeA|AvgOfMajor N|AvgOfOth N|AvgOfProp N|AvgOfVio N|schoolincidents|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+-------+------------+----------+-----------+----------+---------------+
|      M|                         5|   508.0|      1|    0.0|  2.0|   2.0|  0.0|      4C|501-750|        0.28|      1.11|       0.75|      0.53|            4.0|
|      M|                         6|   277.0|      2|    1.0|  3.0|   1.0|  3.0|      3C|251-500|        0.27|       0.9|       0.63|      0.44|            8.0|
+-------+--------------------------+--------+-------+-------+-----+------+-----+--------+-------+------------+----------+-----------+----------+---------------+
only showing top 2 rows

In [ ]:
dftest1 = spark.read.csv('Datasets/iterat4-1.csv',header=True, inferSchema=True)
dftest2 = spark.read.csv('Datasets/iterat4-2.csv',header=True, inferSchema=True)

In [ ]:
from pyspark.sql.functions import monotonically_increasing_id
dftest1 = dftest1.withColumn("id", monotonically_increasing_id())
dftest2 = dftest2.withColumn("id", monotonically_increasing_id())
dftest3 = dftest2.join(dftest1, "id", "outer").drop("id")

In [ ]:
dftest1.show(n=4)
dftest2.show(n=4)
dftest3.show(n=4)

In [216]:
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCol="ENGroupA", outputCol="ENGroupAIndex")
df5 = indexer.fit(df4).transform(df4).drop("ENGroupA")
df5.show(n=4)

+-------+--------------------------+--------+-------+-------+-----+------+-----+-------+------------+----------+-----------+----------+-------------+
|Borough|Geographical District Code|Register|Schools|Major N|Oth N|Prop N|Vio N| RangeA|AvgOfMajor N|AvgOfOth N|AvgOfProp N|AvgOfVio N|ENGroupAIndex|
+-------+--------------------------+--------+-------+-------+-----+------+-----+-------+------------+----------+-----------+----------+-------------+
|      M|                         5|   508.0|      1|    0.0|  2.0|   2.0|  0.0|501-750|        0.28|      1.11|       0.75|      0.53|          1.0|
|      M|                         6|   277.0|      2|    1.0|  3.0|   1.0|  3.0|251-500|        0.27|       0.9|       0.63|      0.44|          0.0|
|      X|                         8|   248.0|      2|    0.0|  0.0|   0.0|  0.0|  1-250|         0.0|       0.0|        0.0|       0.0|          3.0|
|      X|                         8|   502.0|      1|    0.0|  2.0|   2.0|  0.0|501-750|        0.28|      1.11|       0.75|      0.53|          1.0|
+-------+--------------------------+--------+-------+-------+-----+------+-----+-------+------------+----------+-----------+----------+-------------+
only showing top 4 rows

In [221]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer

indexers = [StringIndexer(inputCol=column, outputCol=column+"_index").fit(df5) for column in list(set(df5.columns)-set(['Geographical District Code'])-set(['Register'])-set(['Schools'])-set(['Major N'])-set(['Oth N'])-set(['Prop N'])-set(['Vio N'])-set(['AvgOfMajor N'])-set(['AvgOfOth N'])-set(['AvgOfProp N'])-set(['AvgOfVio N'])-set(['schoolincidents'])) ]


pipeline = Pipeline(stages=indexers)
df6 = pipeline.fit(df5).transform(df5).drop('Borough','RangeA','ENGroupA')

df6.show()

+--------------------------+--------+-------+-------+-----+------+-----+------------+----------+-----------+----------+---------------+-------------+------------+--------------+
|Geographical District Code|Register|Schools|Major N|Oth N|Prop N|Vio N|AvgOfMajor N|AvgOfOth N|AvgOfProp N|AvgOfVio N|schoolincidents|Borough_index|RangeA_index|ENGroupA_index|
+--------------------------+--------+-------+-------+-----+------+-----+------------+----------+-----------+----------+---------------+-------------+------------+--------------+
|                         5|   508.0|      1|    0.0|  2.0|   2.0|  0.0|        0.28|      1.11|       0.75|      0.53|            4.0|          2.0|         1.0|           1.0|
|                         6|   277.0|      2|    1.0|  3.0|   1.0|  3.0|        0.27|       0.9|       0.63|      0.44|            8.0|          2.0|         0.0|           0.0|
|                         8|   248.0|      2|    0.0|  0.0|   0.0|  0.0|         0.0|       0.0|        0.0|       0.0|            0.0|          1.0|         3.0|           3.0|
|                         8|   502.0|      1|    0.0|  2.0|   2.0|  0.0|        0.28|      1.11|       0.75|      0.53|            4.0|          1.0|         1.0|           1.0|
|                         8|   604.0|      1|    1.0|  0.0|   1.0|  0.0|        0.28|      1.11|       0.75|      0.53|            2.0|          1.0|         1.0|           1.0|
|                        12|   210.0|      3|    0.0|  0.0|   0.0|  0.0|         0.0|       0.0|        0.0|       0.0|            0.0|          1.0|         3.0|           3.0|
|                        11|   296.0|      3|    0.0|  0.0|   0.0|  0.0|         0.0|       0.0|        0.0|       0.0|            0.0|          1.0|         0.0|           0.0|
|                        12|   387.0|      4|    0.0|  0.0|   0.0|  0.0|         0.0|       0.0|        0.0|       0.0|            0.0|          1.0|         0.0|           0.0|
|                        12|   288.0|      4|    0.0|  0.0|   0.0|  0.0|         0.0|       0.0|        0.0|       0.0|            0.0|          1.0|         0.0|           0.0|
|                        12|  1463.0|      4|    2.0|  4.0|   1.0|  5.0|        0.64|      3.02|       1.72|      1.54|           12.0|          1.0|         5.0|           5.0|
|                        12|   240.0|      3|    0.0|  0.0|   0.0|  0.0|         0.0|       0.0|        0.0|       0.0|            0.0|          1.0|         3.0|           3.0|
|                         5|   389.0|      1|    0.0|  1.0|   1.0|  0.0|        0.27|       0.9|       0.63|      0.44|            2.0|          2.0|         0.0|           0.0|
|                         4|   263.0|      1|    0.0|  1.0|   1.0|  0.0|        0.27|       0.9|       0.63|      0.44|            2.0|          2.0|         0.0|           0.0|
|                        13|   500.0|      1|    0.0|  0.0|   0.0|  0.0|        0.27|       0.9|       0.63|      0.44|            0.0|          0.0|         0.0|           0.0|
|                        20|   590.0|      1|    0.0|  0.0|   0.0|  0.0|        0.28|      1.11|       0.75|      0.53|            0.0|          0.0|         1.0|           1.0|
|                         3|   479.0|      2|    0.0|  0.0|   0.0|  0.0|         0.0|       0.0|        0.0|       0.0|            0.0|          2.0|         0.0|           0.0|
|                        22|   346.0|      2|    0.0|  0.0|   0.0|  0.0|         0.0|       0.0|        0.0|       0.0|            0.0|          0.0|         0.0|           0.0|
|                         2|   212.0|      2|    0.0|  0.0|   0.0|  0.0|         0.0|       0.0|        0.0|       0.0|            0.0|          2.0|         3.0|           3.0|
|                        15|   201.0|      1|    1.0|  2.0|   2.0|  0.0|        0.24|      0.71|       0.51|      0.32|            5.0|          0.0|         3.0|           3.0|
|                         1|   127.0|      2|    0.0|  0.0|   0.0|  0.0|         0.0|       0.0|        0.0|       0.0|            0.0|          2.0|         3.0|           3.0|
+--------------------------+--------+-------+-------+-----+------+-----+------------+----------+-----------+----------+---------------+-------------+------------+--------------+
only showing top 20 rows

In [222]:
df6.select('Borough_index','RangeA_index','ENGroupA_index').show()

+-------------+------------+--------------+
|Borough_index|RangeA_index|ENGroupA_index|
+-------------+------------+--------------+
|          2.0|         1.0|           1.0|
|          2.0|         0.0|           0.0|
|          1.0|         3.0|           3.0|
|          1.0|         1.0|           1.0|
|          1.0|         1.0|           1.0|
|          1.0|         3.0|           3.0|
|          1.0|         0.0|           0.0|
|          1.0|         0.0|           0.0|
|          1.0|         0.0|           0.0|
|          1.0|         5.0|           5.0|
|          1.0|         3.0|           3.0|
|          2.0|         0.0|           0.0|
|          2.0|         0.0|           0.0|
|          0.0|         0.0|           0.0|
|          0.0|         1.0|           1.0|
|          2.0|         0.0|           0.0|
|          0.0|         0.0|           0.0|
|          2.0|         3.0|           3.0|
|          0.0|         3.0|           3.0|
|          2.0|         3.0|           3.0|
+-------------+------------+--------------+
only showing top 20 rows

In [223]:
df5.printSchema()
df6.printSchema()

root
 |-- Borough: string (nullable = true)
 |-- Geographical District Code: integer (nullable = true)
 |-- Register: double (nullable = false)
 |-- Schools: integer (nullable = true)
 |-- Major N: double (nullable = false)
 |-- Oth N: double (nullable = false)
 |-- Prop N: double (nullable = false)
 |-- Vio N: double (nullable = false)
 |-- ENGroupA: string (nullable = false)
 |-- RangeA: string (nullable = false)
 |-- AvgOfMajor N: double (nullable = false)
 |-- AvgOfOth N: double (nullable = false)
 |-- AvgOfProp N: double (nullable = false)
 |-- AvgOfVio N: double (nullable = false)
 |-- schoolincidents: double (nullable = false)

root
 |-- Geographical District Code: integer (nullable = true)
 |-- Register: double (nullable = false)
 |-- Schools: integer (nullable = true)
 |-- Major N: double (nullable = false)
 |-- Oth N: double (nullable = false)
 |-- Prop N: double (nullable = false)
 |-- Vio N: double (nullable = false)
 |-- AvgOfMajor N: double (nullable = false)
 |-- AvgOfOth N: double (nullable = false)
 |-- AvgOfProp N: double (nullable = false)
 |-- AvgOfVio N: double (nullable = false)
 |-- schoolincidents: double (nullable = false)
 |-- Borough_index: double (nullable = true)
 |-- RangeA_index: double (nullable = true)
 |-- ENGroupA_index: double (nullable = true)

In [227]:
from pyspark.ml.feature import RFormula
formula = RFormula(
    formula="schoolincidents ~ ENGroupA_index",
    featuresCol="features",
    labelCol="label")

output = formula.fit(df6).transform(df6)
output.select("features", "label").show()

+--------+-----+
|features|label|
+--------+-----+
|   [1.0]|  4.0|
|   [0.0]|  8.0|
|   [3.0]|  0.0|
|   [1.0]|  4.0|
|   [1.0]|  2.0|
|   [3.0]|  0.0|
|   [0.0]|  0.0|
|   [0.0]|  0.0|
|   [0.0]|  0.0|
|   [5.0]| 12.0|
|   [3.0]|  0.0|
|   [0.0]|  2.0|
|   [0.0]|  2.0|
|   [0.0]|  0.0|
|   [1.0]|  0.0|
|   [0.0]|  0.0|
|   [0.0]|  0.0|
|   [3.0]|  0.0|
|   [3.0]|  5.0|
|   [3.0]|  0.0|
+--------+-----+
only showing top 20 rows

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import HashingTF, Tokenizer
tokenizer = Tokenizer(inputCol="text", outputCol="words")
hashingTF = HashingTF(inputCol=tokenizer.getOutputCol(), outputCol="features")
lr = LogisticRegression(maxIter=10, regParam=0.001)
pipeline = Pipeline(stages=[tokenizer, hashingTF, lr])